<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f6bfd">  <td>16/09/01 15:44:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSensor.VerifyAddSenser()[pri:0, instance:TestNG.AddSensor@675d3402]">VerifyAddSenser</td> 
  <td>main@1833638914</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/09/01 15:43:20</td>   <td>-51991</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddSensor.initialSetup()[pri:0, instance:TestNG.AddSensor@675d3402]">&gt;&gt;initialSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1833638914</td>   <td></td> </tr>
</table>
