<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f6bfd">  <td>16/09/01 01:16:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddSensor.initialSetup()[pri:0, instance:TestNG.AddSensor@457e2f02]">&gt;&gt;initialSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/09/01 01:17:22</td>   <td>59960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddSensor.VerifyAddSenser()[pri:0, instance:TestNG.AddSensor@457e2f02]">VerifyAddSenser</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>16/09/01 01:18:10</td>   <td>107831</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DeleteSensor.initialsetup()[pri:0, instance:TestNG.DeleteSensor@5c7fa833]">&gt;&gt;initialsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>16/09/01 01:19:17</td>   <td>174870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteSensor.VerifyDeleteSensor()[pri:0, instance:TestNG.DeleteSensor@5c7fa833]">VerifyDeleteSensor</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>16/09/01 01:19:29</td>   <td>186336</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BannerAcknowlegde.initialsetup()[pri:0, instance:TestNG.BannerAcknowlegde@39aeed2f]">&gt;&gt;initialsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>16/09/01 01:20:29</td>   <td>246999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BannerAcknowlegde.VerifyBannerAcknowledge()[pri:0, instance:TestNG.BannerAcknowlegde@39aeed2f]">VerifyBannerAcknowledge</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>16/09/01 01:22:33</td>   <td>370352</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BannerAcknowlegde.Closesetup()[pri:0, instance:TestNG.BannerAcknowlegde@39aeed2f]">&lt;&lt;Closesetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>16/09/01 01:22:36</td>   <td>373665</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DragDrop.initialsetup()[pri:0, instance:TestNG.DragDrop@724af044]">&gt;&gt;initialsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>16/09/01 01:23:30</td>   <td>427951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DragDrop.VerifyDragDrop()[pri:0, instance:TestNG.DragDrop@724af044]">VerifyDragDrop</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>16/09/01 01:23:42</td>   <td>440193</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DragDrop.afterClass()[pri:0, instance:TestNG.DragDrop@724af044]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>16/09/01 01:23:44</td>   <td>441468</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChangeInternetsetting.initialsetup()[pri:0, instance:TestNG.ChangeInternetsetting@4678c730]">&gt;&gt;initialsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>16/09/01 01:24:36</td>   <td>494181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeInternetsetting.VerifyChangeInternetSetting()[pri:0, instance:TestNG.ChangeInternetsetting@4678c730]">VerifyChangeInternetSetting</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>16/09/01 01:24:43</td>   <td>500488</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChangeInternetsetting.Closesetup()[pri:0, instance:TestNG.ChangeInternetsetting@4678c730]">&lt;&lt;Closesetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>16/09/01 01:24:44</td>   <td>501596</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ConfiguredProperty.Initialsetup()[pri:0, instance:TestNG.ConfiguredProperty@6767c1fc]">&gt;&gt;Initialsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>16/09/01 01:25:31</td>   <td>549103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConfiguredProperty.VerifyConfiguredproperty()[pri:0, instance:TestNG.ConfiguredProperty@6767c1fc]">VerifyConfiguredproperty</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>16/09/01 01:26:01</td>   <td>578439</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConfiguredProperty.afterClass()[pri:0, instance:TestNG.ConfiguredProperty@6767c1fc]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>16/09/01 01:26:02</td>   <td>580214</td> <td>&nbsp;</td><td title="&lt;&lt;DeleteSensor.afterTest()[pri:0, instance:TestNG.DeleteSensor@5c7fa833]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
</table>
